<div class="row">
  <div class="col col-md-12 col-sm-12">
    <a href="setting/destroy" class="btn bg-gradient-primary w-100 my-4 mb-2">Kosongkan Data</a>
  </div>
  <div class="col col-md-12 col-sm-12">
    <a href="setting/add" class="btn bg-gradient-success w-100 my-4 mb-2">Data Laporan</a>
  </div>
</div>
